<div class="container bg-white" style="padding: 0">
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center">
            我们积累了各行业丰富的案例和经验
            <div class="divider"></div>
        </div>
        <div class="panel-body">
            <div class="nbs-flexisel-inner">
                <ul class="nbs-flexisel-ul">
                    <li class="nbs-flexisel-item" id="case_4">
                        <img src="assets/imgs/case_4.jpg">
                        <p>赛能科技森林火险预警</p>
                    </li>
                    <li class="nbs-flexisel-item">
                        <img src="assets/imgs/case_1.jpeg">
                        <p>蜜悦法式烘焙</p>
                    </li>
                    <li class="nbs-flexisel-item">
                        <img src="assets/imgs/case_2.png">
                        <p>港澳汇</p>
                    </li>
                    <li class="nbs-flexisel-item">
                        <img src="assets/imgs/case_3.jpg">
                        <p>文华书城</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
