<div class="container bg-white" style="padding: 0;">
    <div class="panel panel-default aga-panel" style="position: relative;">
        <div class="panel-heading text-center margin-bottom-15 text-danger">
            2018年加一夏令营（国际生）开始招生！
            <div class="divider"></div>
        </div>
        <div class="panel-body about">
            <div class="col-md-6">
                <div class="pull-right text-right">
                    <!-- <img class="pic1Ab" src="images/picAbout/aboutP1.png" alt="pic"/> -->
                    <div class="title pull-right">营期</div>
                    <h3>2018年7月01日-7月28日（以下均为加拿大当地时间）</h3>
                    <p>第一期：2018年7月01日-7月14日</p>
                    <p>第二期：2018年7月15日-7月28日</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-left text-left">
                    <!-- <img class="pic2Ab" src="images/picAbout/aboutP2.png" alt="pic"/> -->
                    <div class="title pull-left">营区</div>
                    <h3>加拿大著名贵族私立学校Fern Hill School 主校区（Oakville Campus）</h3>
                    <p>地址：3300 Ninth Line Rd, Oakville, ON Canada L6H 7A8</p>
                    <p>Fern Hill School校区位于Oakville 东北部，学校建立于1982，是全加拿大著名的贵族小学私校之一，招收幼儿园到八年级的学生，拥有10 英亩的校园和35000 平尺的教学楼。</p>
                </div>
            </div>
        </div>
        <div class="horL"></div>
        <div class="col-md-12 admissions_bg"></div>
        <div class="panel-body table-responsive">
            <table class="table table-bordered" style="border: 1px solid #CF7B79">
                <thead>
                    <tr class="danger">
                        <th>#</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="danger-dark">
                        <th scope="row">1</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">2</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger-dark">
                        <th scope="row">3</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">4</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>