<div class="aga-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a class="copyright-box">
                    <img src="assets/imgs/logo_r1.png">
                    <p style="font-size: 20px;">加一国际教育出品</p>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="contact-box">
                    <p class="title">
                        联系我们
                    </p>
                    <p>
                        <i class="fa fa-phone"></i>
                        <span class="margin-left-20">Liza Wu(市场) 647-303-3686</span>
                    </p>
                    <p>
                        <i class="fa fa-weixin"></i>
                        <span class="margin-left-20">Lizawu825</span>
                    </p>
                    <p>
                        <i class="fa fa-phone"></i>
                        <span class="margin-left-20">Sherry Xu(运营) 905-330-4298</span>
                    </p>
                    <p>
                        <i class="fa fa-weixin"></i>
                        <span class="margin-left-20">xiaodong761280</span>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i>
                        <span class="margin-left-20">info@mciec.ca</span>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i>
                        <a href="www.mciec.ca" target="_blank" style="color: #4f6de0;text-decoration:underline;"><span class="margin-left-20">www.mciec.ca</span></a>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="weixin-box">
                    <p style="font-size: 20px;color: #fff;line-height: 20px">微信公众号：加一加拿大留学营</p>
                    <img src="assets/imgs/weixin.jpg">
                </a>
            </div>
            <!-- <div class="col-sm-12 col-md-4">
                <a class="map-box" target="_blank" href="http://apis.map.qq.com/tools/poimarker?type=0&marker=coord:22.25499,113.58223;title:AgileAct 思捷先行;addr:珠海市香洲区海滨南路47号光大国贸中心801&key=2WIBZ-TX4C5-6AFII-QPQHG-BIKD3-SLFJK&referer=myapp">
                    <img src="assets/imgs/map.png">
                </a>
            </div> -->
        </div>
    </div>
</div>
