<div class="aga-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a class="copyright-box">
                    <img src="assets/imgs/logo_w.png">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="contact-box">
                    <p class="title">
                        联系我们
                    </p>
                    <p>
                        <i class="fa fa-phone"></i>
                        <span class="margin-left-20">+86（756）3293030</span>
                    </p>
                    <p>
                        <i class="fa fa-location-arrow"></i>
                        <span class="margin-left-20">珠海市香洲区海滨南路47号光大国贸中心801</span>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i>
                        <span class="margin-left-20">info@agileact.com</span>
                    </p>
                    <p>
                        <i class="fa fa-copyright"></i>
                        <span class="margin-left-20"><a target="_blank" href="http://www.miibeian.gov.cn">粤ICP备15032111号-1</a></span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="map-box" target="_blank" href="http://apis.map.qq.com/tools/poimarker?type=0&marker=coord:22.25499,113.58223;title:AgileAct 思捷先行;addr:珠海市香洲区海滨南路47号光大国贸中心801&key=2WIBZ-TX4C5-6AFII-QPQHG-BIKD3-SLFJK&referer=myapp">
                    <img src="assets/imgs/map.png">
                </a>
            </div>
        </div>
    </div>
</div>
