<div class="container bg-white">
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center margin-bottom-15">
            ESL课程
            <div class="divider"></div>
        </div>
        <div class="panel-body" id="about-box" style="background-image: url(assets/imgs/course_bg.jpg);">
            <div class="content-info">
                本地老师授课
                <br> 原汁原味北美浸润英语
                <br> 和本地学生共课堂同交流
                <br> 了解北美英语学习方法
                <br> 考核并获颁夏令营结业证书
            </div>
        </div>
    </div>
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center margin-bottom-15">
            Field Trip
            <div class="divider"></div>
        </div>
        <div class="panel-body" style="padding: 0px 0px 15px 0px;">
            <div class="col-sm-12 col-md-3 activity-content">
                每周特别主题课外体验
            </div>
            <div class="col-sm-12 col-md-3 activity-content">
                实用生活英语现场教学
            </div>
            <div class="col-sm-12 col-md-3 activity-content">
                本地化生活体验
            </div>
            <div class="col-sm-12 col-md-3 activity-content">
                动脑+动手 生动有趣
            </div>
            <div class="col-sm-12 col-md-4 margin-bottom-5 activity">
                <div class="img-box" style="background-image: url(assets/imgs/trip1.jpg);">
                    <div class="activity-info">
                        <h3>食物和营养</h3>
                        由本地持牌营养师带领，体验西人超市购物，现场讲解食品健康知识
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 margin-bottom-5 activity">
                <div class="img-box" style="background-image: url(assets/imgs/trip2.jpg);">
                    <div class="activity-info">
                        <h3>西式烹饪课</h3>
                        参加本地趣味性烹饪课，了解西方饮食知识，学习西式烹饪课程
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 margin-bottom-5 activity">
                <div class="img-box" style="background-image: url(assets/imgs/trip3.jpg);">
                    <div class="activity-info">
                        <h3>夏季农场游</h3>
                        和当地孩子一起体验夏季休闲去处，逛加拿大近郊农场，趣味学英语
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>