<div class="container bg-white">
    <div class="panel panel-default aga-panel" id="about-box" style="background-image: url(assets/imgs/about_bg.jpg);">
        <div class="panel-heading text-center">
            我们是设计师、工程师、梦想者
            <br> 也是您的用户体验专家
            <div class="divider"></div>
        </div>
        <div class="panel-body">
            <div class="content-info">
                agileact （思捷先行）成立于2015年，我们是一家专注用户体验设计开发与互联网品牌建设的研发外包公司，创立至今200多位客户提供了创新与专业的设计方案。服务范围包括：软件研发外包、敏捷开发、信息技术咨询、移动及软件产品界面设计、移动应用开发、跨境企业个性化服务等。我们的价值与宗旨是为用户和客户打造最符合自身的设计，用设计和信息技术提升产品和企业价值。
            </div>
            <!--<a class="more-btn">了解更多</a>-->
        </div>
    </div>
</div>
