<div class="container bg-white">
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center margin-bottom-15">
            四大主题活动（每日更新）
            <div class="divider"></div>
        </div>
        <div class="panel-body" style="padding: 0px 0px 15px 0px;">
            <div class="col-sm-12 col-md-6 margin-bottom-5 activity">
                <div class="img-box" style="background-image: url(assets/imgs/activity1.png);">
                    <div class="activity-info">
                        <h3>运动体育</h3>
                        <p>室内运动场+户外操场</p>
                        <p>尽情享受运动的快感</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 margin-bottom-5 activity">
                <div class="img-box" style="background-image: url(assets/imgs/activity2.jpg);">
                    <div class="activity-info">
                        <h3>艺术手作</h3>
                        <p>融个人创意和本地艺术为一体</p>
                        <p>锻炼个人动手和艺术感知力</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 margin-bottom-5 activity">
                <div class="img-box" style="background-image: url(assets/imgs/activity3.jpg);">
                    <div class="activity-info">
                        <h3>趣味厨房</h3>
                        <p>西式蛋糕+中式饺子</p>
                        <p>锻炼团队协作精神</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 margin-bottom-5 activity">
                <div class="img-box" style="background-image: url(assets/imgs/activity4.jpg);">
                    <div class="activity-info">
                        <h3>心智成长</h3>
                        <p>独创课程+特别嘉宾授课</p>
                        <p>关爱青少年心理学，探索内在成长</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center margin-bottom-15">
            周末游览
            <div class="divider"></div>
        </div>
        <div class="panel-body" style="padding: 0px 0px 15px 0px;">
            <div class="col-sm-6 col-md-4 margin-bottom-5 weekend">
                <div class="img-box" style="background-image: url(assets/imgs/weekend1.jpg);">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 margin-bottom-5 weekend">
                <div class="img-box" style="background-image: url(assets/imgs/weekend2.jpg);">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 margin-bottom-5 weekend">
                <div class="img-box" style="background-image: url(assets/imgs/weekend3.jpg);">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 margin-bottom-5 weekend">
                <div class="img-box" style="background-image: url(assets/imgs/weekend4.jpg);">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 margin-bottom-5 weekend">
                <div class="img-box" style="background-image: url(assets/imgs/weekend5.jpg);">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 margin-bottom-5 weekend">
                <div class="img-box" style="background-image: url(assets/imgs/weekend6.jpg);">
                </div>
            </div>
        </div>
        <div class="panel-body weekend-content">
            <p>体验加拿大自然景观之壮美</p>
            <p>深度、立体畅游加拿大著名景点——世界三大跨国瀑布之一的尼亚加拉大瀑布</p>

            <p>游览加拿大最大金融城市多伦多市区、市政厅广场</p>
            <p>参观逾百年世界著名公立研究型大学 享誉全球的顶尖高等学府多伦多大学</p>
            <p>领略加拿大的人文之美 考察加拿大的留学环境</p>

            <p>周日茶舍农场休闲 体验加拿大夏季BBQ烧烤 露天主题营员会</p>
        </div>
    </div>
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center margin-bottom-15">
            具体行程
            <div class="divider"></div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-bordered" style="border: 1px solid #CF7B79">
                <tr>
                    <th>日期</th>
                    <th>活动</th>
                    <th>时间</th>
                    <th>用餐</th>
                    <th>活动</th>
                    <th>交通工具</th>
                </tr>
                <!-- Day 1: 星期日 -->
                <tr>
                    <td rowspan="2">
                        <p>Day 1:</p>
                        <p>星期日</p>
                    </td>
                    <td>抵达多伦多并接机</td>
                    <td rowspan="2">根据航班时间</td>
                    <td rowspan="2">
                        <p>寄宿家庭</p>
                        <p>用晚餐</p>
                    </td>
                    <td rowspan="2">寄宿家庭</td>
                    <td rowspan="2">汽车</td>
                </tr>
                <tr>
                    <td>办理入住手续</td>
                </tr>
                <!-- Day 2: 星期一 -->
                <tr>
                    <td rowspan="5">
                        <p>Day 2:</p>
                        <p>星期一</p>
                    </td>
                    <td>早餐</td>
                    <td>7:45-8:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                    <td rowspan="5">汽车</td>
                </tr>
                <tr>
                    <td>新生欢迎说明会</td>
                    <td>9:00-9:30</td>
                    <td rowspan="2">自带午餐</td>
                    <td rowspan="2">校园</td>
                </tr>
                <tr>
                    <td>夏令营</td>
                    <td>9:30-4:00</td>
                </tr>
                <tr>
                    <td>晚餐</td>
                    <td>6:30-7:00</td>
                    <td>寄宿家庭</td>
                    <td rowspan="2">寄宿家庭</td>
                </tr>
                <tr>
                    <td>撰写日志</td>
                    <td>7:00-7:30</td>
                    <td></td>
                </tr>
                <!-- Day 3-5: 星期二至星期四 -->
                <tr>
                    <td rowspan="4">
                        <p>Day 3-5:</p>
                        <p>星期二至星期四</p>
                    </td>
                    <td>早餐</td>
                    <td>7:45-8:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                    <td rowspan="4">汽车</td>
                </tr>
                <tr>
                    <td>夏令营</td>
                    <td>9:00-4:00</td>
                    <td>自带午餐</td>
                    <td>校园</td>
                </tr>
                <tr>
                    <td>晚餐</td>
                    <td>6:00-7:00</td>
                    <td>寄宿家庭</td>
                    <td rowspan="2">寄宿家庭</td>
                </tr>
                <tr>
                    <td>撰写日志</td>
                    <td>7:00-7:30</td>
                    <td></td>
                </tr>
                <!-- Day 6：星期五 -->
                <tr>
                    <td rowspan="7">
                        <p>Day 6:</p>
                        <p>星期五</p>
                    </td>
                    <td>早餐</td>
                    <td>7:45-8:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                    <td rowspan="7">汽车</td>
                </tr>
                <tr>
                    <td>夏令营</td>
                    <td>9:00-12:00</td>
                    <td></td>
                    <td rowspan="4">校园</td>
                </tr>
                <tr>
                    <td>午餐</td>
                    <td>12:00-1:00</td>
                    <td>校园：披萨</td>
                </tr>
                <tr>
                    <td>特别活动：电影</td>
                    <td>1:00-3:00</td>
                    <td></td>
                </tr>
                <tr>
                    <td>特别嘉宾到场</td>
                    <td>3:00-4:00</td>
                    <td></td>
                </tr>
                <tr>
                    <td>晚餐</td>
                    <td>6:00-7:00</td>
                    <td>寄宿家庭</td>
                    <td rowspan="2">寄宿家庭</td>
                </tr>
                <tr>
                    <td>撰写日志</td>
                    <td>7:00-7:30</td>
                    <td></td>
                </tr>
                <!-- Day 7: 星期六 -->
                <tr>
                    <td rowspan="4">
                        <p>Day 7:</p>
                        <p>星期六</p>
                    </td>
                    <td>早餐</td>
                    <td>7:00-7:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                    <td rowspan="4">校车</td>
                </tr>
                <tr>
                    <td style="padding: 0px">
                        <tr>
                            <td rowspan="5" style="border-right: 1px solid #cf7b79;">大瀑布</td>
                            <td width="85%" style="padding: 8px 0;border-bottom: 1px solid #cf7b79;">游览大瀑布</td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0;border-bottom: 1px solid #cf7b79;">乘坐游轮巡航</td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0;border-bottom: 1px solid #cf7b79;">栈道观景</td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0;border-bottom: 1px solid #cf7b79;">高空缆车</td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0;">蝴蝶谷</td>
                        </tr>
                    </td>
                    <td>8:00-5:00</td>
                    <td>午餐：大瀑布景区</td>
                    <td>校外</td>
                </tr>
                <tr>
                    <td>晚餐</td>
                    <td>6:00-7:00</td>
                    <td>寄宿家庭</td>
                    <td></td>
                </tr>
                <tr>
                    <td>撰写日志</td>
                    <td>7:00-7:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                </tr>
                <!-- Day 8: 星期日 -->
                <tr>
                    <td rowspan="5">
                        <p>Day 8:</p>
                        <p>星期日</p>
                    </td>
                    <td>早餐</td>
                    <td>7:45-8:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                    <td rowspan="5">校车</td>
                </tr>
                <tr>
                    <td>参观多伦多大学</td>
                    <td rowspan="2">9:00-4:30</td>
                    <td rowspan="2">便当午餐</td>
                    <td rowspan="3">校外</td>
                </tr>
                <tr>
                    <td>
                        <p>多伦多市区观光</p>
                        <p>市区采风</p>
                        <p>市政厅广场</p>
                    </td>
                </tr>
                <tr>
                    <td>体验茶舍农场</td>
                    <td>5:30-8:30</td>
                    <td>
                        <p>农场品茶</p>
                        <p>烧烤晚餐</p>
                    </td>
                </tr>
                <tr>
                    <td>撰写日志</td>
                    <td>9:00-9:30</td>
                    <td></td>
                    <td>寄宿家庭</td>
                </tr>
                <!-- Day 9-12:星期一至星期四 -->
                <tr>
                    <td rowspan="4">
                        <p>Day 9-12:</p>
                        <p>星期一至星期四</p>
                    </td>
                    <td>早餐</td>
                    <td>7:45-8:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                    <td rowspan="4">汽车</td>
                </tr>
                <tr>
                    <td>夏令营</td>
                    <td>9:00-4:00</td>
                    <td>自带午餐</td>
                    <td>校园</td>
                </tr>
                <tr>
                    <td>晚餐</td>
                    <td>6:00-7:00</td>
                    <td>寄宿家庭</td>
                    <td rowspan="2">寄宿家庭</td>
                </tr>
                <tr>
                    <td>撰写日志</td>
                    <td>7:00-7:30</td>
                    <td></td>
                </tr>
                <!-- Day 13: 星期五 -->
                <tr>
                    <td rowspan="7">
                        <p>Day 13:</p>
                        <p>星期五</p>
                    </td>
                    <td>早餐</td>
                    <td>7:45-8:30</td>
                    <td>寄宿家庭</td>
                    <td>寄宿家庭</td>
                    <td rowspan="7">汽车</td>
                </tr>
                <tr>
                    <td>夏令营</td>
                    <td>9:00-12:00</td>
                    <td></td>
                    <td rowspan="4">校园</td>
                </tr>
                <tr>
                    <td>午餐</td>
                    <td>12:00-1:00</td>
                    <td>校园：披萨</td>
                </tr>
                <tr>
                    <td>特别活动：电影</td>
                    <td>1:00-3:00</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <p>颁证典礼&</p>
                        <p>Open House</p>
                    </td>
                    <td>3:00-4:00</td>
                    <td></td>
                </tr>
                <tr>
                    <td>晚餐</td>
                    <td>6:00-7:00</td>
                    <td>寄宿家庭</td>
                    <td rowspan="2">寄宿家庭</td>
                </tr>
                <tr>
                    <td>撰写日志</td>
                    <td>7:00-7:30</td>
                    <td></td>
                </tr>
                <!-- Day 14: 星期六 -->
                <tr>
                    <td rowspan="2">
                        <p>Day 14:</p>
                        <p>星期六</p>
                    </td>
                    <td>早餐</td>
                    <td>8:30-9:30</td>
                    <td>寄宿家庭</td>
                    <td rowspan="2"></td>
                    <td rowspan="2">汽车</td>
                </tr>
                <tr>
                    <td>
                        <p>从寄宿家庭赴</p>
                        <p>多伦多皮尔逊</p>
                        <p>国际机场返程</p>
                    </td>
                    <td>9:30-</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center margin-bottom-15">
            收费说明：夏令营一共两周时长，两期行程二选一
            <div class="divider"></div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-bordered" style="border: 1px solid #CF7B79">
                <!--费用一-->
                <tr class="danger">
                    <th colspan="2" scope="row" width="20%">说明</th>
                    <th scope="col" width="40%">A.独行侠（无家长陪同）</th>
                    <th scope="col" width="40%">B.亲自行（有家长陪同）</th>
                </tr>
                <tr class="danger-dark">
                    <td colspan="2" scope="row">报名要求</td>
                    <td>
                        <p>10-14岁</p>
                        <p>（若需家长陪同，价格参照B）</p>
                    </td>
                    <td>5-10岁学生+1名家长</td>
                </tr>
                <tr class="danger">
                    <th rowspan="3">费用一</th>
                    <td>全包</td>
                    <td>$6,150(加币)</td>
                    <td>$10,580(加币)</td>
                </tr>
                <tr class="danger-dark">
                    <td>费用说明</td>
                    <td style="text-align: left;">
                        <p>1.夏令营课程费（含每周五特别活动：电影、匹萨、嘉宾）</p>
                        <p>2.Field Trip</p>
                        <p>3.周末参观游览</p>
                        <p>4.机票</p>
                        <p>5.签证</p>
                        <p>6.寄宿家庭吃住费</p>
                        <p>7.机场接送费</p>
                        <p>8.夏令营接送费</p>
                        <p>9.旅游保险（10万加币保额/人）</p>
                    </td>
                    <td style="text-align: left;">
                        <p>1.夏令营课程费（含每周五特别活动：电影、匹萨、嘉宾）</p>
                        <p>2.Field Trip</p>
                        <p>3.周末参观游览</p>
                        <p>4.机票</p>
                        <p>5.签证</p>
                        <p>6.寄宿家庭吃住费</p>
                        <p>7.机场接送费</p>
                        <p>8.夏令营接送费</p>
                        <p>9.旅游保险（10万加币保额/人）</p>
                    </td>
                </tr>
                <tr class="danger">
                    <td>建议</td>
                    <td colspan="2" style="text-align: left;">专业人士建议，加拿大旅游保险以在当地购买为最佳选择，理赔便利。</td>
                </tr>
                <!--费用二-->
                <tr class="danger-dark">
                    <th rowspan="2">费用二</th>
                    <td>不含机票、签证、旅游保险</td>
                    <td>$4,000(加币)</td>
                    <td>$6,280(加币)</td>
                </tr>
                <tr class="danger">
                    <td>费用说明</td>
                    <td style="text-align: left;">
                        <p>1.夏令营课程费（含每周五特别活动：电影、匹萨、嘉宾）</p>
                        <p>2.每周Field Trip</p>
                        <p>3.周末参观游览</p>
                        <p>4.寄宿家庭吃住费</p>
                        <p>5.机场接送费</p>
                        <p>6.夏令营接送费</p>
                    </td>
                    <td style="text-align: left;">
                        <p>1.夏令营课程费（含每周五特别活动：电影、匹萨、嘉宾）</p>
                        <p>2.每周Field Trip</p>
                        <p>3.周末参观游览</p>
                        <p>4.寄宿家庭吃住费</p>
                        <p>5.机场接送费</p>
                        <p>6.夏令营接送费</p>
                    </td>
                </tr>
                <tr class="danger-dark">
                    <th colspan="2" rowspan="2">备注</th>
                    <td>
                        <p>1.若15个学生或以上成行，境内团队可配一个领队，“加一”将承担领队在加拿大境内夏令营期间的食宿交通费用（即只需自行承担机票和签证费即可）</p>
                    </td>
                    <td></td>
                </tr>
                <tr class="danger">
                    <td colspan="2" style="text-align: left;">2.所有价格均为加币，在汇款时，请兑换成加币汇款。</td>
                </tr>
            </table>
        </div>
    </div>
</div>