<div class="container bg-white">
    <div class="panel panel-default aga-panel">
        <div class="panel-heading text-center margin-bottom-15">
            城市介绍和地图
            <div class="divider"></div>
        </div>
        <div class="panel-body" style="padding: 0px 0px 15px 0px;">
            <div class="col-sm-12 col-md-6">
                <div class="map-content">
                    <p>夏令营所在学校Fern Hill School及其所在城市Oakville（奥克维尔）距离全球最安全、 最多元文化的多伦多市区和多伦多皮尔逊国际机场仅30分钟车程。
                    </p>
                    <p>Oakville南靠安大略湖畔，是一个约140平方公里的小镇，现有居民18万左右，多为中产阶级的白人，华人比例低于5%，家庭年均收入和接受过高等教育的比率多年来一直居全国最高之列。这个城镇治安良好，社区安全、祥和、宁静，犯罪率极低。小镇风景宜人，环境优美，到处绿树成荫，公园，绿地，溪流遍布整个小镇。两个优良的天然海港更是闻名遐迩，锦上添花。</p>
                    <p>Oakville的居民对本地完善，优良的教育体系倍感安心与自豪。这里的教育在教授知识的同时，十分重视对学生创造能力的培养。尊重孩子个性化的发展，培养他们的独立思考，与他人沟通协调，解决问题的能力，同时鼓励学生积极参加体育活动，有爱心，与人友善。Oakville的高中在多伦多地区排名普遍靠前，现有公立6所。公立八年级及以下的小学有27所，其中英法双语学校4所。</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <a class="map-box" target="_blank">
                    <img src="assets/imgs/map.png">
                </a>
            </div>
        </div>
    </div>
</div>