<div class="container bg-white" style="padding: 0">
    <div class="panel panel-default aga-panel margin-top-20">
        <div class="panel-heading text-center margin-bottom-15 text-danger">
            五大 核心体验价值
            <div class="divider"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 margin-bottom-20">
                    <div class="value-item">
                        <div class="title">※	北美英语体验</div>
                        <div class="content-info">
                            <p>纯正地道的北美英语环境浸泡。夏令营期间，每天本地英语老师ESL课堂授课+ 每周户外不同教育主题的英语实践体验，中国学生将和本地同龄学生以及老师一起，共同学习、共同交流，零距离接触，完全融入到英语环境和文化氛围里。彻底告别中国式应试英语学习的枯燥，体验纯天然英语环境下学习的乐趣和实用，激励探索自发学习英语的动力</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 margin-bottom-20">
                    <div class="value-item">
                        <div class="title">※	贵族私校体验</div>
                        <div class="content-info">
                            <p>夏令营的所有ESL课程和四大主题活动，全部位于加拿大著名私校Fern Hill School 主校区内（Oakville Campus）。届时，中国学生可以亲临体验并使用加拿大著名私校的校园环境和校园设施。夏令营期间，该校还将由专人引导，进行开放日的参观介绍。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 margin-bottom-20">
                    <div class="value-item">
                        <div class="title">※	寄宿家庭体验</div>
                        <div class="content-info">
                            <p>若想获得真切的旅行体验，那就住在当地寄宿家庭吧！寄宿在北美一般称之为stay with a host family，也叫homestay。入住寄宿家庭是现在许多加拿大公立学校留学生的主要食宿方式。夏令营期间，孩子们将透过和寄宿家庭朝夕相处以及他们的分享，可快速增强语言能力、熟悉西方生活习俗、了解当地文化，探索当地精髓。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 margin-bottom-20">
                    <div class="value-item">
                        <div class="title">※	异域见识体验</div>
                        <div class="content-info">
                            <p>夏令营的周末，我们将畅游加拿大著名景点，世界三大跨国瀑布之一的尼亚加拉大瀑布，隔岸眺望美国，体验加拿大的自然景观之美；游览加拿大最大城市多伦多市区，参观逾百年世界著名公立研究型大学，享誉全球的顶尖高等学府多伦多大学(University of Toronto)，领略加拿大的人文之美，同时考察加拿大的留学环境。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 margin-bottom-20">
                    <div class="value-item">
                        <div class="title">※	本地生活体验</div>
                        <div class="content-info">
                            <p>夏季是加拿大的户外体验最佳季节，我们将带领孩子们一起尽情享受户外清透艳阳、孩子们农场欢乐畅游，家长们农场精心品茶，共度BBQ（烧烤）美好夏日时光；另外，还将由本地持证营养师带领，在西人超市体验购物、识别食物英文名称和学习Cooking Class，了解西方饮食和营养知识。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
