<!-- 顶部导航 -->
<div class="navbar navbar-fixed-top main-nav main-nav-fix" role="navigation">
    <div class="container">
        <div class="navbar-header" dropdown>
            <button #button class="navbar-toggle" type="button" dropdownToggle >
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu header-dropdown" role="menu" style="right: 0; left: 0;">
                <li role="menuitem"><a class="dropdown-item border-bottom" (click)="goTo('home')">首页</a></li>
                <li role="menuitem"><a class="dropdown-item border-bottom" (click)="goTo('service')">服务</a></li>
                <li role="menuitem"><a class="dropdown-item border-bottom" (click)="goTo('case')">案例</a></li>
                <li role="menuitem"><a class="dropdown-item border-bottom" (click)="goTo('about')">关于我们</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="goTo('footer')">联系我们</a></li>
            </ul>
            <a href="home#home" class="navbar-brand navbar-brand-my">
                <img src="assets/imgs/logo_r1.png" alt="AgileAct" id="aga-logo-1">
                <img src="assets/imgs/logo_r1.png" alt="AgileAct" id="aga-logo-2">
            </a>
        </div>
        <!--<div class="navbar-header">
            <button #button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" (click)="toggle()">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="home#home" class="navbar-brand navbar-brand-my">
                <img src="assets/imgs/logo_w.png" alt="AgileAct" id="aga-logo-1">
                <img src="assets/imgs/logo_r.png" alt="AgileAct" id="aga-logo-2">
            </a>
        </div>-->
        <div [hidden]="this.collapse" class="navbar-collapse navbar-responsive-collapse main-navigation" (click)="toggle()">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a (click)="goTo('home')">首页</a>
                </li>
                <li class="dropdown">
                    <a (click)="goTo('service')">服务</a>
                </li>
                <li class="dropdown">
                    <a (click)="goTo('case')">案例</a>
                </li>
                <li class="dropdown">
                    <a (click)="goTo('about')">关于我们</a>
                </li>
                <li class="dropdown">
                    <a (click)="goTo('footer')">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 主体内容区域 -->
<!--<div class="container main-container" [@flyIn]="active">-->
<div class="main-container">
    <router-outlet></router-outlet>
</div>