/* You can add global styles to this file, and also import other style files */

$icon-font-path: "assets/bootstrap-sass-3.3.7/assets/fonts/bootstrap/";
@import "assets/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";
$fa-font-path: "assets/font-awesome-4.7.0/fonts";
@import "assets/font-awesome-4.7.0/scss/font-awesome";
html,
body {
    color: #333333;
    font-family: -apple-system, "SF UI Text", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", sans-serif;
    background-color: #f9f9f9;
}

img {
    display: block;
    max-width: 100%;
}


/*滚动条样式*/

::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
    -webkit-appearance: none;
    /*background: #fff;*/
}

::-webkit-scrollbar-thumb {
    height: 5px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    -webkit-border-radius: 6px;
    background-color: rgba(0, 0, 0, .3);
    background-clip: padding-box;
}

// 定义margin-$position-$size
@for $size from 1 through 20 {
    @each $position in top,
    left,
    right,
    bottom {
        .margin-#{$position}-#{$size} {
            margin-#{$position}: 1px * $size;
        }
    }
}

// 定义通用颜色
$aga-color: #d02;
$text-color: #333;
$text-color-1: #636363;

.aga-panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    .panel-heading {
        position: relative;
        padding: 20px 15px;
        font-size: 20px;
        border: 0;
        color: $aga-color;
        background-color: #fff;
        .divider {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid $text-color-1;
            margin-left: -40px;
        }
    }
}

.bg-white {
    background: #fff;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

// 定义表格背景色
.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: #EFD3D2;
}
.table>tbody>tr.danger-dark>td,
.table>tbody>tr.danger-dark>th,
.table>tbody>tr>td.danger-dark,
.table>tbody>tr>th.danger-dark,
.table>tfoot>tr.danger-dark>td,
.table>tfoot>tr.danger-dark>th,
.table>tfoot>tr>td.danger-dark,
.table>tfoot>tr>th.danger-dark,
.table>thead>tr.danger-dark>td,
.table>thead>tr.danger-dark>th,
.table>thead>tr>td.danger-dark,
.table>thead>tr>th.danger-dark {
    background-color: #DFA7A6;
}

// 表格边框线的颜色
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
    border: 1px solid #cf7b79;
}