<div class="container bg-white" style="padding: 0;">
    <div class="panel panel-default aga-panel" style="position: relative;">
        <div class="panel-heading text-center margin-bottom-15 text-danger">
            2018年加一夏令营（国际生）开始招生！
            <div class="divider"></div>
        </div>
        <div class="panel-body about">
            <div class="col-md-6">
                <div class="pull-right text-right">
                    <!-- <img class="pic1Ab" src="images/picAbout/aboutP1.png" alt="pic"/> -->
                    <div class="title pull-right">营期</div>
                    <h3>2018年7月01日-7月28日（以下均为加拿大当地时间）</h3>
                    <p>第一期：2018年7月01日-7月14日</p>
                    <p>第二期：2018年7月15日-7月28日</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-left text-left">
                    <!-- <img class="pic2Ab" src="images/picAbout/aboutP2.png" alt="pic"/> -->
                    <div class="title pull-left">营区</div>
                    <h3>加拿大著名贵族私立学校Fern Hill School 主校区（Oakville Campus）</h3>
                    <p>地址：3300 Ninth Line Rd, Oakville, ON Canada L6H 7A8</p>
                    <p>Fern Hill School校区位于Oakville 东北部，学校建立于1982，是全加拿大著名的贵族小学私校之一，招收幼儿园到八年级的学生，拥有10 英亩的校园和35000 平尺的教学楼。</p>
                </div>
            </div>
        </div>
        <div class="horL"></div>
        <div class="col-md-12 admissions_bg"></div>
        <div class="panel-body table-responsive animatedParent">
            <table class="table table-bordered animated fadeIn" style="border: 1px solid #CF7B79">
                    <tr class="danger">
                        <th rowspan="3">时间</th>
                        <th scope="col" colspan="4">星期一至星期四</th>
                        <th scope="col">周五</th>
                        <th scope="col">周末</th>
                    </tr>
                    <tr class="danger-dark">
                        <td>上午</td>
                        <td>中午</td>
                        <td>下午</td>
                        <td>特别Field Trip</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <td>9:00am-12:00pm</td>
                        <td>12:00pm-1:00pm</td>
                        <td>1:00pm-4:00pm</td>
                        <td>一次/周</td>
                        <td>1:00pm-4:00pm</td>
                        <td>全天</td>
                    </tr>
                    <tr class="danger-dark">
                        <th scope="row">内容</th>
                        <td>
                            <p>课程学习</p>
                            <p>英语授课</p>
                            <p>（配中文督导）</p>
                        </td>
                        <td>午餐</td>
                        <td>
                            <p>主题活动</p>
                            <p>1.运动体育</p>
                            <p>2.艺术手作</p>
                            <p>3.趣味厨艺</p>
                            <p>4.心智成长</p>
                        </td>
                        <td>
                            <p>本地特色</p>
                            <p>主题活动</p>
                            <p>+</p>
                            <p>户外英语</p>
                            <p>趣味课堂</p>
                        </td>
                        <td>
                            <p>特别活动</p>
                            <p>特邀嘉宾</p>
                        </td>
                        <td>
                            <p>著名景点观光游览</p>
                            <p>户外本地生活体验</p>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>