<section class="hero" id="home">
    <div class="container" style="background-color: rgba(0, 0, 0, .5)">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center inner">
                <div class="animatedParent">
                    <h1 class="animated fadeInDown">加拿大多维体验式夏令营</h1>
                    <!--<p class="animated fadeInUp">Udah dari dulu tahu kalo bocor kenapa nggak ditambal tong</p>-->

                    <p>要不要送孩子出国读书？要不要带孩子移民加国？</p>
                    <p>别纠结、别着急、别焦虑，先来体验加拿大夏令营吧！</p>

                    <p>加拿大体验式夏令营，不能立刻给您上述问题的标准答案，但可以帮您明确是否可以给孩子多一种选择的未来；可以帮孩子多一次机会，深度探索异国生活和学习体验；帮您和孩子共同实践、体会并思考，出国读书还是移民，是否有利于孩子内在生命的成长。</p>

                    <p>加拿大体验式夏令营，提供多一个维度，融合“ <span style="color: #d02;font-size: 25px;">学习、体验、玩乐</span> ”三大综合主题，让您的孩子有机会迈向更纵深更广度的未来。</p>

                </div>
            </div>
        </div>
    </div>
</section>

<app-value id="value"></app-value>
<app-admission id="admission"></app-admission>
<app-course id="course"></app-course>
<app-customer id="customer"></app-customer>
<app-map id="map"></app-map>
<app-footer id="footer"></app-footer>