<div class="container customer-content bg-white">
    <div class="customer-title">
        他们选择了agileact
    </div>
    <div class="customer-box">
        <div class="customer-item">
            <img src="assets/imgs/client_1.jpg">
        </div>
        <div class="customer-item">
            <img src="assets/imgs/client_2.png">
        </div>
        <div class="customer-item">
            <img src="assets/imgs/client_3.jpg">
        </div>
        <div class="customer-item">
            <img src="assets/imgs/client_4.jpg">
        </div>
        <div class="customer-item">
            <img src="assets/imgs/client_5.jpg">
        </div>
    </div>
</div>
